/*Общие настройки блоков.........................................*/
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    color: rgba(33, 32, 32, 1);
    font-family: "Playfair Display", serif;
    background-color: rgba(234, 227, 227, 1);
    margin: 0 auto;
}

a{
    text-decoration: none; 
    color:inherit;
}
.container{
    width: 100%;
    min-height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15%;
}

.titles{
    font-size: 28px;
    text-align: center;
    color: rgba(69, 134, 122, 1);
    font-family: "Playfair Display SC", serif;
    margin-left: 10px;
    margin-right: 10px;
}

#scroll_btn{
    position: fixed;
    z-index: 2;
    right: 0px;
    left: 80%;
    top: 90%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    /*border: rgba(185, 160, 200, 1) solid 1px;*/
    background-color: rgba(69, 134, 122, 1);
    border-radius: 50%;    
    cursor: pointer;
    transition: ease 0.5s; 
}

#scroll_btn:hover{
    scale: 1.2;
}

/*block 1.......................................................................................................................*/
.block_1{
    /*background-image: url("../images/block_1_bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;*/
    justify-content: space-between;
}

.block_1_top{
    /*margin-top: 20%;
    margin-bottom: 20%;*/
    height: 430px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.block_1_left{
    background-color: rgba(33, 32, 32, 1);
    /*border: rgba(223, 193, 121, 1) solid 1px;*/
}

.block_1_names{
    font-size: 36px;
    text-align: left;
    line-height: 50px;
    font-weight: 400;
    margin-left: 15%;
    margin-top: 15%;
    color: rgba(234, 227, 227, 1);
    font-family: "Orelega One", serif;
    line-height: 66px;
}

.block_1_right{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.block_1_bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    /*background-color: rgba(252, 248, 237, 1);*/
    /*background: linear-gradient( rgba(252, 248, 237, 0.7), rgba(252, 248, 237, 1));*/
    /*border-top: rgba(237, 27, 36, 1) solid 1px;*/
}

.block_1_bottom_text{
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    width: 90%;
    font-family: "Playfair Display SC", serif;
    color: rgba(69, 134, 122, 1);
}

.block_1_bottom_date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    font-family: "Playfair Display SC", serif;
    border-top: rgba(33, 32, 32, 1) solid 1px;
}
.block_1_bottom_line_1{
    font-size: 20px;
}
.block_1_bottom_line_2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.block_1_bottom_line_2_left, .block_1_bottom_line_2_right{
    text-align: center;
    font-size: 18px;
   /* border-top: rgba(190, 173, 199, 1) solid 1px;
    border-bottom: rgba(190, 173, 199, 1) solid 1px;*/
    padding-top: 5%;
    padding-bottom: 5%;
}

.block_1_bottom_line_2_center{
    font-size: 26px;
    text-align: center;
    color: rgba(69, 134, 122, 1);
}
.block_1_bottom_line_3{
    font-size: 20px;
}

/*block 2.......................................................................................................................*/
.block_2{
    background-color: rgba(33, 32, 32, 1);
    color: rgba(236, 229, 229, 1);
}

.block_2_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.timer__items {
    margin-top: 10%;
    display: flex;
    font-size: 28px;
    justify-content: center;
    align-content: center;
  }

  .timer__item {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 25px;
    text-align: center;
  }

  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 20px;
  }
 
  .timer__item:not(:last-child)::after {
    content: ".";
    position: absolute;
    right: -25px;
    font-size: 20px;
  }

  .block_2_background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .block_2_bottom{
    text-align: center;
    width: 90%;
    /*border-top: solid 1px rgba(142, 105, 144, 1);
    box-shadow: 0px -10px rgba(90, 81, 90, 0.466);*/
    margin-top: 40px;
    margin-bottom: 5%;
    padding-top: 30px;
    font-size: 18px;
  }


  /*block 3.......................................................................................................................*/
  .block_3{
    background-image: url(/images/block_3_bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;

}
#reg_form{
    border: rgba(33, 32, 32, 1) solid 1px;
    border-radius: 10px;
    background-color: rgba(234, 227, 227, 0.63);
    padding: 5% 3% 5% 3%;
    font-size: 16px;
    width: 90%;
}
 
.wrapper{
    font-size: 16px;
    list-style-type: none;
}
#name{
    background-color: rgba(234, 227, 227, 0.514);
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: rgba(33, 32, 32, 1) solid 1px;
    cursor: pointer;
    transition: ease 0.5s;
    font-family: "Playfair Display SC", serif;
    color: rgba(81, 74, 74, 1);
}
#name:hover{
    background-color: rgba(142, 181, 173, 0.397);
}

#name:focus{
    outline: none;
    box-shadow: 0 0 0px 2px rgba(33, 32, 32, 1);
}

#surname{
    background-color: rgba(234, 227, 227, 0.514);
    margin-bottom: 10px;
    font-size: 16px;
    border: rgba(33, 32, 32, 1) solid 1px;
    border-radius: 10px;
    font-family: "Playfair Display SC", serif;
    cursor: pointer;
    transition: ease 0.5s;
    color: rgba(81, 74, 74, 1);
}
#surname:hover{
    background-color: rgba(142, 181, 173, 0.397);
}

#surname:focus{
    outline: none;
    box-shadow: 0 0 0px 2px rgba(33, 32, 32, 1);
}

select{
    font-size: 16px;
    margin-bottom: 10px;
    background-color: rgba(234, 227, 227, 0.514);
    border: rgba(33, 32, 32, 1) solid 1px;
    border-radius: 10px;
    padding-left: 10px;
    color: rgba(81, 74, 74, 1);
    size: 1px;
    cursor: pointer;
    transition: ease 0.5s;
    width: 400px;
    font-family: "Playfair Display SC", serif;
}
select:hover{
    background-color: rgba(142, 181, 173, 0.397);
}

select:focus{
    outline: none;
    box-shadow: 0 0 0px 2px rgba(33, 32, 32, 1);
}

select>option{
    background-color: rgba(234, 227, 227, 0.514);
    border: rgba(33, 32, 32, 1) solid 1px;
    border-radius: 10px;
    font-size: 16px;
    width: 250px;
    font-family: "Playfair Display SC", serif;
    color: rgba(81, 74, 74, 1);
}

select>option:focus{
    outline: none;
    box-shadow: 0 0 0px 2px rgba(33, 32, 32, 1);
}

#registred, #alcohol{
    font-family: "Playfair Display SC", serif;
    color: rgba(81, 74, 74, 1);
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
    color: rgba(81, 74, 74, 1);
}

  .form-row > input,
  .form-row > button,
  .form-row > select {
    padding: .5em;
    flex: 1;
    color: rgba(81, 74, 74, 1);
  }
  .form-row > button {
    background-color: rgba(33, 32, 32, 0.877);
    border-radius: 10px;
    color: rgb(192, 187, 187);
    font-family: "Playfair Display SC", serif;
    font-size: 16px;
    border: rgba(33, 32, 32, 1) solid 1px;
    width: 100%;
    cursor: pointer;
    transition: ease 0.5s;
  }
  .form-row > button:hover {
    background-color: rgb(33, 32, 32);
  }

  #comment{
    font-family: "Playfair Display SC", serif;
    font-size: 16px;
    border: rgba(33, 32, 32, 1) solid 1px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: rgba(234, 227, 227, 0.514);
    color: rgba(81, 74, 74, 1);
    cursor: pointer;
    transition: ease 0.5s;
    width: 100%;
  }
#comment:hover{
    background-color: rgba(142, 181, 173, 0.397);
}

#comment:focus{
    outline: none;
    box-shadow: 0 0 0px 2px rgba(33, 32, 32, 1);
}


.form_hidden{
    display:none;
}

.form-checkbox{
    list-style-type: none; 
    padding-left: 20px;
    font-size: 16px;
    padding-right: 20px;
    color: rgb(29, 27, 27);
}

/*Чекбоксы..............................*/

.checkbox.style-f {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Playfair Display SC", serif;
  }
  .checkbox.style-f input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox.style-f input:checked ~ .checkbox__checkmark {
    background-color: rgba(142, 181, 173, 0.719);
  }
  .checkbox.style-f input:checked ~ .checkbox__checkmark:after {
    transform: scale(1);
  }
  .checkbox.style-f input:checked ~ .checkbox__body {
    color: rgba(37, 37, 37, 1);
    font-weight: 500;
  }
  .checkbox.style-f .checkbox__checkmark {
    position: absolute;
    top: 30%;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: rgba(37, 37, 37, 0.555);
    transition: background-color 0.25s ease;
    border-radius: 11px;
  }
  .checkbox.style-f .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    display: block;
    background-color: rgba(37, 37, 37, 1);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.25s ease;
  }
  .checkbox.style-f .checkbox__body {
    color: rgba(37, 37, 37, 1);
    line-height: 1.4;
    font-size: 14px;
    transition: font-weight 0.25s ease;
  }

    /*block 4.......................................................................................................................*/
    .block_4{
        /*background-image: url(/images/block_4_bg.png);
        background-repeat: no-repeat;
        block-size: 100%;
        background-position: center;*/
        background-color: rgba(37, 37, 37, 1);
        display: flex;
        justify-content: center;
        font-family: "Playfair Display", serif;
    }
    #block_questions{
        /*background-color: rgba(142, 181, 173, 0.205);*/
        width: 90%;
        padding: 1%;
        /*border: rgba(142, 181, 173, 1) solid 1px;*/
        border-radius: 10px;
        color: rgba(236, 226, 228, 1);
    }
.question{
    font-size: 18px;
    margin-top: 5%;
}
.answer{
    font-size: 14px;
}
.question img{
    width: auto;
    height: 20px;
}
.answer a{
    color:rgba(69, 134, 122, 1);
}
#colors{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}
.color{
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
#blue{
    background-color: rgba(254, 254, 254, 1);
}
#green{
    background-color: rgba(172, 172, 172, 1);
}
#yellow{
    background-color: rgba(108, 107, 107, 1);
}
#turquoise{
    background-color: rgba(71, 71, 71, 1);
}
#beige{
    background-color: rgba(50, 50, 50, 1);
}
/*block 5.......................................................................................................................*/
.block_5{
    margin-top: 30px;
    width: 100%;
    background-image: url(../images/block_5_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 680px;
    font-family: "Playfair Display SC", serif;
}
.block_5_main{
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 20%;
}
#title_5{
    width: 60%;
}
.empty{
    background-color: rgba(37, 37, 37, 1);
}
.occasions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.occation_time{
    font-size: 24px;
    color: rgba(69, 134, 122, 1);
    text-align: center;
}
.occation_text{
    font-size: 24px;
    text-align: center;
    padding-bottom: 30px;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.arrow img{
    height: 60px;
}

/*block 6.......................................................................................................................*/
.block_6{
    margin-top: 15%;
}
.place{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
    font-size: 18px;
    margin-bottom: 15%;

}
.block_6_title{
    font-size: 24px;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    color: rgba(69, 134, 122, 1);
}
.adress{
    margin-bottom: 3%;
    width: 100%;
    text-align: center;
    padding-bottom: 3%;
}